.parent{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
 }
 .card, .child{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 20px;
 }
 .styles{
   width: 150px;
   height: 30px;
   border: 1px solid black;
 }
 .logo{
    width: 100%;
    height: 150px;
 }
 .info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
 }
 .price,.brand{
    font-size: 20px;
    color: red;
 }
 .DetailedInfo{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-size: 20px;
 }
 .bg-green{
    background-color: green;
}
.bg-red{
    background-color: red;
}